@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

$default-font-family: 'Poppins', sans-serif;
$white: #f9f9f9;
$black: #19191a;

* {
  font-family: $default-font-family;
  font-weight: normal;
  letter-spacing: 2px;
  text-decoration: none;
}

.hero-title {
  font-size: clamp(2.19rem, 13vw, 4.38rem);
}

.hero-subtitle {
  font-size: clamp(1.25rem, 5vw, 2rem);
}

.topic-title {
  font-size: clamp(1.25rem, 9vw, 2.81rem);
  text-transform: uppercase;
}

.subtitle-bold {
  font-weight: bold !important;
  letter-spacing: 1px !important;
}

.card-header {
  font-size: 1.25rem;
  letter-spacing: 0.0125rem !important;
  line-height: 2rem;
  font-weight: 500;
}

.card-description {
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0.0071428571rem;
  font-weight: 400;
}

.card-footer {
  font-size: clamp(0.7rem, 2vw, 0.81rem);
  font-weight: 400;
}

.hero-title, .topic-title {
  text-align: center;
  font-weight: bold;
}

.footer, .card-footer, .mobile-footer {
  letter-spacing: 0;
}

.footer {
  font-size: clamp(0.56rem, 5vw, 0.75rem);
  color: $white;
}

.custom-white {
  color: $white !important;
}

.custom-black, .about-description, .card-description {
  color: $black !important;
}

.hover-button-text {
  font-size: 0.75rem;
  letter-spacing: 1px !important;
}

.about-description {
  font-size: clamp(0.94rem, 4vw, 1.25rem);
  letter-spacing: 0 !important;
}
